<div class="h-screen flex flex-col items-center justify-center">
  <div
    class="bg-white dark:bg-black w-[480px] h-[260px] shadow-lg rounded-lg flex flex-col items-center justify-center"
  >
    <h1 class="text-4xl font-bold text-gray-800 dark:text-white mb-2">
      Invoice App
    </h1>
    <p class="p-6 text-center dark:text-purple-100">
      This is a portfolio project developed from a
      <a
        href="https://www.frontendmentor.io/challenges/invoice-app-i7KaLTQjl"
        target="_blank"
        class="text-purple font-bold"
      >
        Front End Mentor
      </a>
      challenge
    </p>
    <div class="flex space-x-4 mb-6">
      <!-- Sign Up Button -->
      <button
        class="bg-purple text-white px-6 py-2 rounded-3xl shadow-md hover:bg-purple-light focus:outline-none"
        (click)="openRegistrationModal()"
      >
        Sign Up
      </button>

      <!-- Login Button -->
      <button
        class="bg-blue dark:bg-black-light dark:hover:bg-black hover:bg-black text-white px-6 py-2 rounded-3xl shadow-md focus:outline-none"
        (click)="openLoginModal()"
      >
        Login
      </button>
    </div>
    <p class="dark:text-purple-100">
      or
      <span
        class="text-purple font-semibold hover:underline cursor-pointer"
        (click)="loginAsGuest()"
      >
        View as demo</span
      >
    </p>
  </div>
  <p class="mt-6 text-center opacity-50 dark:text-gray">
    Developed by
    <a
      href="https://github.com/margaux-works"
      target="_blank"
      class="text-purple font-bold hover:underline opacity-90 cursor-pointer"
    >
      Margaux
    </a>
  </p>
</div>
<!-- Login Modal -->
<div
  *ngIf="isLoginModalOpen"
  class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center"
  (click)="closeModal()"
>
  <app-user-login-form
    class="z-50"
    (click)="$event.stopPropagation()"
    (close)="closeModal()"
  >
  </app-user-login-form>
</div>

<!-- Registration Modal -->
<div
  *ngIf="isRegistrationModalOpen"
  class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center"
>
  <div
    class="bg-white dark:bg-black-light p-6 rounded-lg shadow-lg w-full max-w-md"
    role="dialog"
  >
    <app-user-registration-form></app-user-registration-form>
    <button
      class="mt-4 bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-700"
      (click)="closeModal()"
    >
      Close
    </button>
  </div>
</div>
