<nav
  class="bg-black-light flex flex-col h-screen fixed top-0 left-0 w-30 lg:w-103 rounded-r-3xl overflow-hidden"
>
  <!-- Logo -->
  <div class="relative group cursor-pointer" [routerLink]="['/dashboard']">
    <!-- Rectangle -->
    <img
      src="/icons/Rectangle Copy 3.svg"
      alt="Logo Background"
      class="w-full transition-transform duration-300 group-hover:translate-y-[-10px]"
    />
    <!-- Circle (Pacman-like shape) -->
    <img
      src="/icons/Combined Shape.svg"
      alt="Logo Icon"
      class="absolute top-2 left-1/2 transform -translate-x-1/2 w-8 h-8 lg:w-12 lg:h-12"
    />
  </div>

  <!-- Dark/Light Mode and Logout -->
  <div class="flex flex-col items-center lg:items-start space-y-4 p-4 mt-auto">
    <!-- Dark/Light Mode -->

    <button class="p-2" (click)="toggleDarkMode()">
      <img
        *ngIf="!themeService.isDarkMode()"
        src="/icons/moon.svg"
        alt="Dark Mode"
        class="h-6 w-6"
      />
      <img
        *ngIf="themeService.isDarkMode()"
        src="/icons/sun.svg"
        alt="Light Mode"
        class="h-6 w-6"
      />
    </button>

    <!-- Logout -->
    <div class="relative">
      <button
        class="p-2 bg-gray-700 rounded-full hover:bg-gray-600"
        (click)="toggleLogoutBox()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-white"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 16l4-4m0 0l-4-4m4 4H7"
          />
        </svg>
      </button>
      <div
        *ngIf="showLogOutBox"
        class="absolute bottom-full right-0 mb-2 p-2 bg-gray-800 rounded shadow-lg"
      >
        <button (click)="logoutUser()" class="text-white hover:underline">
          Log Out
        </button>
      </div>
    </div>
  </div>
</nav>
