<nav
  class="bg-black-light flex flex-row lg:flex-col lg:h-screen fixed top-0 left-0 w-full lg:w-30 lg:rounded-r-3xl overflow-hidden sm:h-[72px] md:h-[80px]"
>
  <!-- Logo -->
  <div
    class="relative group cursor-pointer flex items-center justify-start w-full"
    [routerLink]="['/dashboard']"
  >
    <!-- Rectangle -->
    <img
      src="./icons/Rectangle Copy 3.svg"
      alt="Logo Background"
      class="transition-transform duration-300 group-hover:translate-y-[-10px] w-[72px] md:w-[80px] lg:w-full"
    />
    <!-- Circle (Pacman-like shape) -->
    <img
      src="./icons/Combined Shape.svg"
      alt="Logo Icon"
      class="absolute top-1/2 left-5 sm:left-5 md:left-6 lg:left-1/4 transform -translate-y-1/2 w-8 h-8 lg:w-12 lg:h-12"
    />
  </div>

  <!-- Dark/Light Mode and Logout -->
  <div
    class="flex lg:flex-col flex-row items-center lg:items-start space-y-0 lg:space-y-4 space-x-4 lg:space-x-0 p-4 mt-auto w-full lg:w-auto justify-end sm:pr-4 md:pr-6 lg:justify-start"
  >
    <!-- Dark/Light Mode -->

    <button class="p-2" (click)="toggleDarkMode()">
      <img
        *ngIf="!themeService.isDarkMode()"
        src="./icons/moon.svg"
        alt="Dark Mode"
        class="h-6 w-6"
      />
      <img
        *ngIf="themeService.isDarkMode()"
        src="./icons/sun.svg"
        alt="Light Mode"
        class="h-6 w-6"
      />
    </button>

    <!-- Logout -->
    <div class="relative">
      <button
        class="p-2 bg-gray-700 rounded-full hover:bg-gray-600"
        (click)="toggleLogoutBox()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-white"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 16l4-4m0 0l-4-4m4 4H7"
          />
        </svg>
      </button>
      <div
        *ngIf="showLogOutBox"
        class="absolute bottom-full right-0 mb-2 p-2 bg-gray-800 rounded shadow-lg"
      >
        <button (click)="logoutUser()" class="text-white hover:underline">
          Log Out
        </button>
      </div>
    </div>
  </div>
</nav>
