<div
  class="edit-panel mx-8 p-14 bg-white shadow-md rounded-lg animate-slideInLeft duration-500 ease-in-out"
>
  <h2 class="text-xl font-bold mb-4 pb-8">Edit Invoice #{{ invoice.id }}</h2>

  <form [formGroup]="invoiceForm" (ngSubmit)="saveChanges()">
    <div class="mb-4">
      <h3 class="text-lg font-semibold mb-2 text-purple">Bill From</h3>
      <div formGroupName="senderAddress">
        <div class="space-y-2">
          <label class="text-gray">Street Address</label>
          <input formControlName="street" class="input-field font-bold" />
          <div class="grid grid-cols-3 gap-4 pt-6">
            <div>
              <label class="text-gray">City</label>
              <input formControlName="city" class="input-field font-bold" />
            </div>
            <div>
              <label class="text-gray">Post Code</label>
              <input formControlName="postCode" class="input-field font-bold" />
            </div>
            <div>
              <label class="text-gray">Country</label>
              <input formControlName="country" class="input-field font-bold" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <h3 class="text-lg font-semibold mb-2 text-purple pt-8">Bill To</h3>
      <div>
        <label class="text-gray">Client's Name</label>
        <input
          formControlName="clientName"
          class="input-field font-bold pb-10"
        />
      </div>
      <div class="mt-6">
        <label class="text-gray">Client's Email</label>
        <input
          formControlName="clientEmail"
          type="email"
          class="input-field font-bold"
        />
      </div>
    </div>

    <div class="mb-6">
      <div formGroupName="clientAddress">
        <div class="space-y-2">
          <label class="text-gray">Street Address</label>
          <input formControlName="street" class="input-field font-bold" />
          <div class="grid grid-cols-3 gap-4">
            <div>
              <label class="text-gray">City</label>
              <input formControlName="city" class="input-field font-bold" />
            </div>
            <div>
              <label class="text-gray">Post Code</label>
              <input formControlName="postCode" class="input-field font-bold" />
            </div>
            <div>
              <label class="text-gray">Country</label>
              <input formControlName="country" class="input-field font-bold" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div class="mb-4">
        <label class="text-gray">Invoice Date</label>
        <input
          formControlName="createdAt"
          type="text"
          class="input-field text-gray font-bold cursor-not-allowed bg-transparent"
          readonly
        />
      </div>

      <div class="mb-4">
        <label class="text-gray">Payment Terms</label>
        <input
          formControlName="paymentTerms"
          type="number"
          class="input-field font-bold"
        />
      </div>
    </div>

    <div class="mb-4">
      <label class="text-gray">Project Description</label>
      <input formControlName="description" class="input-field font-bold" />
    </div>

    <div class="mb-4">
      <label class="text-gray font-bold">Item List</label>
      <table class="table-auto w-full">
        <thead>
          <tr>
            <th class="py-2 font-normal text-gray">Item Name</th>
            <th class="py-2 font-normal text-gray">QTY</th>
            <th class="py-2 font-normal text-gray">Price</th>
            <th class="py-2 font-normal text-gray">Total</th>
            <th></th>
            <!-- For the bin icon -->
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of items.controls; let i = index"
            [formGroup]="item"
          >
            <td class="px-4 py-2 w-[35%]">
              <input
                formControlName="name"
                class="input-field font-bold w-full"
                placeholder="Item Name"
              />
            </td>
            <td class="px-4 py-2 w-[15%]">
              <input
                formControlName="quantity"
                type="number"
                class="input-field font-bold text-center"
                placeholder="Qty."
              />
            </td>
            <td class="px-4 py-2 w-[15%]">
              <input
                formControlName="price"
                type="number"
                class="input-field font-bold text-center"
                placeholder="Price"
              />
            </td>
            <td class="font-bold text-gray px-4 py-2 w-[15%]">
              <input
                formControlName="total"
                type="number"
                class="border-transparent bg-transparent text-center w-full"
                readonly
                placeholder="Total"
              />
            </td>
            <!-- Bin Icon -->
            <td class="pr-4 py-2 text-center w-[10%]">
              <button type="button" (click)="removeItem(i)">
                <img
                  src="/icons/bin.svg"
                  alt="Remove"
                  class="h-5 w-5 text-gray-500 hover:text-red-500"
                />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Add New Item Button -->
      <div class="mt-4 text-center">
        <button
          type="button"
          class="bg-gray-light text-gray font-medium py-2 px-4 rounded-full hover:text-purple"
          (click)="addItem()"
        >
          + Add New Item
        </button>
      </div>
    </div>

    <div>
      <button type="submit">Save</button>

      <button type="button" class="btn btn-secondary" (click)="cancel.emit()">
        Cancel
      </button>
    </div>
  </form>
</div>
