<div
  class="fixed top-0 left-0 w-screen h-screen bg-black bg-opacity-50 flex items-start justify-start z-50"
>
  <!-- Modal Container -->
  <div
    class="bg-white w-full md:w-1/2 h-full overflow-y-auto p-8 transform transition-transform ease-in-out duration-300 translate-x-0"
  >
    <h2 class="text-2xl font-bold mb-6">New Invoice</h2>
    <form [formGroup]="invoiceForm" (ngSubmit)="submitInvoice()">
      <!-- Bill From -->
      <div class="mb-6">
        <h3 class="text-lg font-semibold mb-2">Bill From</h3>
        <div formGroupName="senderAddress" class="space-y-4">
          <div>
            <label class="block mb-1">Street Address</label>
            <input
              formControlName="street"
              class="input-field block w-full border p-2 rounded"
            />
          </div>
          <div class="grid grid-cols-3 gap-4">
            <div>
              <label class="block mb-1">City</label>
              <input
                formControlName="city"
                class="input-field block w-full border p-2 rounded"
              />
            </div>
            <div>
              <label class="block mb-1">Post Code</label>
              <input
                formControlName="postCode"
                class="input-field block w-full border p-2 rounded"
              />
            </div>
            <div>
              <label class="block mb-1">Country</label>
              <input
                formControlName="country"
                class="input-field block w-full border p-2 rounded"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Bill To -->
      <div class="mb-6">
        <h3 class="text-lg font-semibold mb-2">Bill To</h3>
        <div class="space-y-4">
          <div>
            <label class="block mb-1">Client Name</label>
            <input
              formControlName="clientName"
              class="input-field block w-full border p-2 rounded"
            />
          </div>
          <div>
            <label class="block mb-1">Client Email</label>
            <input
              formControlName="clientEmail"
              type="email"
              class="input-field block w-full border p-2 rounded"
            />
          </div>
          <div formGroupName="clientAddress">
            <label class="block mb-1">Street Address</label>
            <input
              formControlName="street"
              class="input-field block w-full border p-2 rounded"
            />
            <div class="grid grid-cols-3 gap-4 mt-4">
              <div>
                <label class="block mb-1">City</label>
                <input
                  formControlName="city"
                  class="input-field block w-full border p-2 rounded"
                />
              </div>
              <div>
                <label class="block mb-1">Post Code</label>
                <input
                  formControlName="postCode"
                  class="input-field block w-full border p-2 rounded"
                />
              </div>
              <div>
                <label class="block mb-1">Country</label>
                <input
                  formControlName="country"
                  class="input-field block w-full border p-2 rounded"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Invoice Details -->
      <div class="grid grid-cols-2 gap-4 mb-6">
        <div>
          <label class="block mb-1">Invoice Date</label>
          <input
            formControlName="createdAt"
            class="input-field block w-full border p-2 rounded bg-gray-100"
            readonly
          />
        </div>
        <div>
          <label class="block mb-1">Payment Terms</label>
          <input
            formControlName="paymentTerms"
            type="number"
            class="input-field block w-full border p-2 rounded"
          />
        </div>
      </div>
      <div>
        <label class="block mb-1">Project Description</label>
        <input
          formControlName="description"
          class="input-field block w-full border p-2 rounded"
        />
      </div>

      <!-- Item List -->
      <div class="mt-6">
        <h3 class="text-lg font-semibold mb-2">Item List</h3>
        <table class="table-auto w-full border-collapse border border-gray-400">
          <thead>
            <tr class="bg-gray-200">
              <th class="border border-gray-400 px-4 py-2">Item Name</th>
              <th class="border border-gray-400 px-4 py-2">QTY</th>
              <th class="border border-gray-400 px-4 py-2">Price</th>
              <th class="border border-gray-400 px-4 py-2">Total</th>
              <th class="border border-gray-400 px-4 py-2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of items.controls; let i = index"
              [formGroup]="item"
            >
              <td>
                <input
                  formControlName="name"
                  class="input-field block w-full"
                />
              </td>
              <td>
                <input
                  formControlName="quantity"
                  type="number"
                  class="input-field block w-full"
                  (input)="calculateTotal(i)"
                />
              </td>
              <td>
                <input
                  formControlName="price"
                  type="number"
                  class="input-field block w-full"
                  (input)="calculateTotal(i)"
                />
              </td>
              <td>
                <input
                  formControlName="total"
                  class="input-field block w-full bg-gray-100"
                  readonly
                />
              </td>
              <td>
                <button
                  type="button"
                  (click)="removeItem(i)"
                  class="text-red-500"
                >
                  🗑
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button
          type="button"
          (click)="addItem()"
          class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded mt-4"
        >
          Add New Item
        </button>
      </div>

      <!-- Actions -->
      <div class="flex justify-between mt-8">
        <button
          type="button"
          (click)="saveAsDraft()"
          class="bg-gray-500 hover:bg-gray-700 text-white px-4 py-2 rounded"
        >
          Save as Draft
        </button>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded"
        >
          Save & Send
        </button>
        <button
          type="button"
          (click)="cancelCreation()"
          class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
