<div
  class="fixed top-0 left-0 w-screen h-screen bg-black bg-opacity-50 flex items-start justify-start z-50"
>
  <!-- Modal Container -->
  <div
    class="bg-white dark:bg-black-700 w-full md:w-1/2 h-full overflow-y-auto p-8 transform transition-transform ease-in-out duration-1000"
    [ngClass]="{
      'translate-x-0': showCreateInvoice,
      '-translate-x-full': !showCreateInvoice
    }"
  >
    <h2 class="text-2xl font-bold mb-6 dark:text-white">New Invoice</h2>
    <form [formGroup]="invoiceForm" (ngSubmit)="submitInvoice()">
      <!-- Bill From -->
      <div class="mb-6">
        <h3 class="text-lg font-semibold mb-2 text-purple">Bill From</h3>
        <div formGroupName="senderAddress" class="space-y-4">
          <div>
            <label class="text-gray dark:text-purple-100 block mb-1"
              >Street Address</label
            >
            <input
              formControlName="street"
              class="input-field dark:bg-black dark:border-black-light border-solid dark:text-white font-bold block w-full border p-2 rounded"
            />
          </div>
          <div class="grid grid-cols-3 gap-4">
            <div>
              <label class="text-gray dark:text-purple-100 block mb-1"
                >City</label
              >
              <input
                formControlName="city"
                class="input-field dark:bg-black dark:border-black-light border-solid dark:text-white font-boldblock w-full border p-2 rounded"
              />
            </div>
            <div>
              <label class="text-gray dark:text-purple-100 block mb-1"
                >Post Code</label
              >
              <input
                formControlName="postCode"
                class="input-field dark:bg-black dark:border-black-light border-solid dark:text-white font-bold block w-full border p-2 rounded"
              />
            </div>
            <div>
              <label class="text-gray dark:text-purple-100 block mb-1"
                >Country</label
              >
              <input
                formControlName="country"
                class="input-field dark:bg-black dark:border-black-light border-solid dark:text-white font-bold block w-full border p-2 rounded"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Bill To -->
      <div class="mb-6">
        <h3 class="text-lg font-semibold mb-2 text-purple pt-8">Bill To</h3>
        <div class="space-y-4">
          <div>
            <label class="text-gray dark:text-purple-100 block mb-1"
              >Client's Name</label
            >
            <input
              formControlName="clientName"
              class="input-field dark:bg-black dark:border-black-light border-solid dark:text-white font-bold block w-full border p-2 rounded"
            />
          </div>
          <div>
            <label class="text-gray dark:text-purple-100 block mb-1"
              >Client's Email</label
            >
            <input
              formControlName="clientEmail"
              type="email"
              class="input-field dark:bg-black dark:border-black-light border-solid dark:text-white font-bold block w-full border p-2 rounded"
            />
          </div>
          <div formGroupName="clientAddress">
            <label class="text-gray dark:text-purple-100 block text-graymb-1"
              >Street Address</label
            >
            <input
              formControlName="street"
              class="input-field dark:bg-black dark:border-black-light border-solid dark:text-white font-bold block w-full border p-2 rounded"
            />
            <div class="grid grid-cols-3 gap-4 mt-4">
              <div>
                <label class="block text-gray dark:text-purple-100 mb-1"
                  >City</label
                >
                <input
                  formControlName="city"
                  class="input-field dark:bg-black dark:border-black-light border-solid dark:text-white font-bold block w-full border p-2 rounded"
                />
              </div>
              <div>
                <label class="block dark:text-purple-100 text-gray mb-1"
                  >Post Code</label
                >
                <input
                  formControlName="postCode"
                  class="input-field dark:bg-black dark:border-black-light border-solid dark:text-white font-bold block w-full border p-2 rounded"
                />
              </div>
              <div>
                <label class="block dark:text-purple-100 text-gray mb-1"
                  >Country</label
                >
                <input
                  formControlName="country"
                  class="input-field dark:bg-black dark:border-black-light border-solid dark:text-white font-bold block w-full border p-2 rounded"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Invoice Details -->
      <div class="grid grid-cols-2 gap-4 mb-6">
        <div>
          <label class="text-gray block mb-1">Invoice Date</label>
          <input
            formControlName="createdAt"
            class="input-field dark:bg-black dark:border-black-light border-solid dark:text-gray block w-full border p-2 rounded bg-gray-100"
            readonly
          />
        </div>
        <div>
          <label class="text-gray dark:text-purple-100 block mb-1"
            >Payment Terms</label
          >
          <input
            formControlName="paymentTerms"
            type="number"
            class="input-field dark:bg-black dark:border-black-light border-solid dark:text-white font-bold block w-full border p-2 rounded"
          />
        </div>
      </div>
      <div>
        <label class="text-gray dark:text-purple-100 block mb-1"
          >Project Description</label
        >
        <input
          formControlName="description"
          class="input-field dark:bg-black dark:border-black-light border-solid dark:text-white font-bold block w-full border p-2 rounded"
        />
      </div>

      <!-- Item List -->
      <div class="mt-6">
        <h3 class="text-gray font-bold">Item List</h3>
        <table class="table-auto w-full">
          <thead>
            <tr>
              <th
                class="py-2 font-normal text-gray dark:text-purple-100 text-left"
              >
                Item Name
              </th>
              <th class="py-2 font-normal text-gray dark:text-purple-100">
                QTY
              </th>
              <th class="py-2 font-normal text-gray dark:text-purple-100">
                Price
              </th>
              <th class="py-2 font-normal text-gray dark:text-purple-100">
                Total
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of items.controls; let i = index"
              [formGroup]="item"
            >
              <td
                class="px-4 py-2 w-[35%] dark:bg-black dark:border-black-light dark:border-solid dark:border dark:text-gray dark:rounded"
              >
                <input
                  formControlName="name"
                  class="input-field block w-full text-left dark:bg-transparent dark:text-white text-semibold"
                  placeholder="Item Name"
                />
              </td>
              <td
                class="px-4 py-2 w-[15%] dark:bg-black dark:border-black-light dark:border-solid dark:border dark:text-gray dark:rounded"
              >
                <input
                  formControlName="quantity"
                  type="number"
                  class="input-field block w-full text-center dark:bg-transparent dark:text-white text-semibold"
                  placeholder="Qty."
                  (input)="calculateTotal(i)"
                />
              </td>
              <td
                class="px-4 py-2 w-[15% dark:bg-black dark:border-black-light dark:border-solid dark:border dark:text-gray dark:rounded"
              >
                <input
                  formControlName="price"
                  type="number"
                  class="input-field block w-full text-cente dark:bg-transparent dark:text-white text-semibold"
                  (input)="calculateTotal(i)"
                  placeholder="Price"
                />
              </td>
              <td class="px-4 py-2 w-[15%]">
                <input
                  formControlName="total"
                  class="input-field block w-full text-center dark:bg-transparent dark:text-white text-semibold"
                  readonly
                  placeholder="Total"
                />
              </td>
              <td class="pr-4 py-2 text-center w-[10%]">
                <button type="button" (click)="removeItem(i)">
                  <img
                    src="/icons/bin.svg"
                    alt="Remove"
                    class="h-5 w-5 text-gray-500 hover:text-red-500"
                  />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button
          type="button"
          (click)="addItem()"
          class="bg-gray-light dark:bg-black dark:text-purple-100 hover:bg-gray-100 text-gray font-semibold px-4 py-3 rounded-3xl w-full mt-4"
        >
          + Add New Item
        </button>
      </div>

      <!-- Actions -->

      <div class="flex items-center justify-between mt-8">
        <button
          type="button"
          (click)="cancelCreation()"
          class="bg-gray-light hover:bg-gray-100 text-gray px-4 py-2 rounded-3xl font-semibold"
        >
          Discard
        </button>

        <div class="flex items-center gap-2">
          <button
            type="button"
            (click)="saveAsDraft()"
            class="bg-blue dark:bg-blue dark:hover:bg-black dark:text-purple-100 text-gray px-4 py-2 rounded-3xl justify-end font-semibold"
          >
            Save as Draft
          </button>
          <button
            type="submit"
            class="bg-purple hover:bg-purple-light dark:hover:bg-purple-light text-white px-4 py-2 rounded-3xl justify-end font-semibold"
          >
            Save & Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
