<div
  class="max-w-md mx-auto p-6 bg-white dark:bg-black-light rounded-xl shadow-lg space-y-6"
>
  <h2 class="text-3xl font-bold text-center text-gray-800 dark:text-white">
    Register
  </h2>

  <form (ngSubmit)="registerUser()">
    <!-- Username Input -->
    <div class="mb-4">
      <label for="username" class="block text-gray-700 font-medium mb-2"
        >Username</label
      >
      <input
        id="username"
        type="text"
        [(ngModel)]="userData.username"
        name="Username"
        placeholder="Enter your username"
        required
        class="w-full p-3 border border-gray-300 rounded-md dark:bg-black dark:text-purple-100"
      />
    </div>

    <!-- Email Input -->
    <div class="mb-4">
      <label for="email" class="block text-gray-700 font-medium mb-2"
        >Email</label
      >
      <input
        id="email"
        type="email"
        [(ngModel)]="userData.email"
        name="Email"
        placeholder="Enter your email"
        required
        class="w-full p-3 border border-gray-300 rounded-md dark:bg-black dark:text-purple-100"
      />
    </div>

    <!-- Password Input -->
    <div class="mb-6">
      <label for="password" class="block text-gray-700 font-medium mb-2"
        >Password</label
      >
      <input
        id="password"
        type="password"
        [(ngModel)]="userData.password"
        name="Password"
        placeholder="Enter your password"
        required
        class="w-full p-3 border border-gray-300 rounded-md dark:bg-black dark:text-purple-100"
      />
    </div>

    <!-- Submit Button -->
    <div class="flex justify-center">
      <button
        type="submit"
        class="w-full bg-purple text-white py-3 rounded-md shadow-md hover:bg-purple-light"
      >
        Register
      </button>
    </div>
  </form>
</div>
