<div class="dashboard my-20 mx-72">
  <div class="head-container flex items-center justify-between w-128">
    <div class="flex flex-col">
      <h1 class="text-3xl font-bold">Invoices</h1>
      <p *ngIf="invoices.length > 0" class="mb-4 text-sm text-gray">
        There are {{ invoices.length }} total invoices
      </p>
      <div *ngIf="invoices.length > 0; else noInvoices">
        <!-- Conditionally Show Create Invoice Form -->
        <app-invoice-create
          *ngIf="showCreateInvoice"
          [showCreateInvoice]="showCreateInvoice"
          (save)="onInvoiceSaved()"
          (cancel)="onCancelInvoiceCreation()"
        ></app-invoice-create>
      </div>
    </div>

    <!-- Right Section: Filter + New Invoice -->
    <div class="flex items-center space-x-10">
      <!-- Filter Dropdown -->
      <div class="relative inline-block">
        <button (click)="toggleFilterDropdown()" class="font-bold py-2 px-4">
          Filter by Status
          <img
            src="/icons/Path 2.svg"
            alt="New Invoice Icon"
            class="inline-flex pl-2"
          />
        </button>
        <div
          *ngIf="showFilterDropdown"
          class="absolute bg-white shadow-md rounded mt-2 p-4"
        >
          <label
            *ngFor="let status of ['draft', 'pending', 'paid']"
            class="block mb-2 items-center space-x-4"
          >
            <input
              type="checkbox"
              [value]="status"
              (change)="onStatusChange(status, $event.target.checked)"
              class="appearance-none w-5 h-5 bg-purple-100 rounded border border-transparent hover:border-purple checked:bg-purple checked:border-white checked:appearance-none"
            />
            {{ status | titlecase }}
          </label>
        </div>
      </div>

      <!-- New Invoice Dropdown -->
      <button
        (click)="openCreateInvoiceForm()"
        class="bg-purple hover:bg-purple-light text-white font-bold rounded-3xl h-12 flex items-center justify-between pl-1 pr-4 w-44"
      >
        <img
          src="/icons/Group 3.svg"
          alt="New Invoice Icon"
          class="h-10 w-10 p-1"
        />
        <span class="ml-2 pr-4">New Invoice</span>
      </button>
    </div>
  </div>

  <!-- List of Invoices -->
  <div
    *ngIf="filteredInvoices.length > 0; else noInvoices"
    class="grid gap-4 mt-16"
  >
    <div
      *ngFor="let invoice of filteredInvoices"
      class="invoice-card flex items-center bg-white shadow-sm py-5 rounded-lg w-128 hover:border-purple border border-transparent"
    >
      <h2
        class="text-base font-bold pl-8 pr-12 whitespace-nowrap overflow-hidden"
      >
        <span class="text-gray font-bold">#</span>{{ invoice.id }}
      </h2>
      <p class="text-sm text-gray pr-16 whitespace-nowrap overflow-hidden">
        Due {{ invoice.paymentDue | date : "dd MMM yyyy" }}
      </p>
      <p class="text-sm text-gray pr-27 whitespace-nowrap overflow-hidden">
        {{ invoice.clientName }}
      </p>
      <p class="text-base font-bold pr-16 whitespace-nowrap overflow-hidden">
        {{ invoice.total | currency }}
      </p>
      <!-- Dynamic Status -->
      <div
        class="flex items-center justify-center gap-2 px-4 py-2 rounded-md text-sm font-semibold w-[104px] h-[40px]whitespace-nowrap"
        [ngClass]="{
          'bg-green-light text-green': invoice.status === 'paid',
          'bg-orange-light text-orange': invoice.status === 'pending',
          'bg-gray-100 text-blue': invoice.status === 'draft'
        }"
      >
        <span
          class="w-2 h-2 rounded-full text-base"
          [ngClass]="{
            'bg-green': invoice.status === 'paid',
            'bg-orange': invoice.status === 'pending',
            'bg-blue': invoice.status === 'draft'
          }"
        ></span>
        {{ invoice.status | titlecase }}
      </div>
      <button [routerLink]="['/invoice', invoice.id]" class="pl-5 pr-8">
        <img
          src="/icons/Desktop - Invoices - Hover/Path 5 Copy.svg"
          alt="New Invoice Icon"
          class="h-3 w-3"
        />
      </button>
    </div>
  </div>

  <ng-template #noInvoices>
    <h2>There is nothing here</h2>
    <p>
      Create an invoice by clicking the <span>New Invoice</span> button and get
      started
    </p>
  </ng-template>
</div>
