<div class="dashboard my-20 mx-60">
  <div class="head-container grid grid-cols-3">
    <div>
      <h1 class="text-3xl font-bold">Invoices</h1>
      <p *ngIf="invoices.length > 0" class="mb-4 text-sm text-gray">
        There are {{ invoices.length }} total invoices
      </p>
      <div *ngIf="invoices.length > 0; else noInvoices">
        <!-- Conditionally Show Create Invoice Form -->
        <app-invoice-create
          *ngIf="showCreateInvoice"
          (save)="onInvoiceSaved()"
          (cancel)="onCancelInvoiceCreation()"
        ></app-invoice-create>
      </div>
    </div>

    <!-- BEGIN: Filter Dropdown -->
    <div class="relative inline-block">
      <button (click)="toggleFilterDropdown()" class="font-bold py-2 px-4">
        Filter by Status
      </button>
      <div
        *ngIf="showFilterDropdown"
        class="absolute bg-white shadow-md rounded mt-2 p-4"
      >
        <label
          *ngFor="let status of ['draft', 'pending', 'paid']"
          class="block mb-2"
        >
          <input
            type="checkbox"
            [value]="status"
            (change)="onStatusChange(status, $event.target.checked)"
          />
          {{ status | titlecase }}
        </label>
      </div>
    </div>
    <!-- END: Filter Dropdown -->

    <button
      (click)="openCreateInvoiceForm()"
      class="bg-purple hover:bg-purple-light text-white font-bold rounded-3xl h-12 flex items-center justify-between pl-1 pr-4 w-44"
    >
      <img
        src="/icons/Group 3.svg"
        alt="New Invoice Icon"
        class="h-10 w-10 p-1"
      />
      <span class="ml-2 pr-4">New Invoice</span>
    </button>
  </div>

  <!-- List of Invoices -->

  <div
    *ngIf="filteredInvoices.length > 0; else noInvoices"
    class="grid gap-4 mt-16"
  >
    <div
      *ngFor="let invoice of filteredInvoices"
      class="invoice-card grid grid-cols-6 items-center bg-white shadow-sm p-4 rounded-md"
    >
      <h2 class="text-lg font-bold">
        <span class="text-gray font-bold">#</span>{{ invoice.id }}
      </h2>
      <p class="text-sm text-gray">
        Due {{ invoice.paymentDue | date : "dd MMM yyyy" }}
      </p>
      <p class="text-sm text-gray">{{ invoice.clientName }}</p>
      <p class="text-sm font-bold">{{ invoice.total | currency }}</p>
      <!-- Dynamic Status -->
      <div
        class="flex items-center justify-center gap-2 px-4 py-2 rounded-full font-bold w-full"
        [ngClass]="{
          'bg-green-100 text-green': invoice.status === 'paid',
          'bg-orange-100 text-orange': invoice.status === 'pending',
          'bg-gray-100 text-gray': invoice.status === 'draft'
        }"
      >
        <span
          class="w-2 h-2 rounded-full"
          [ngClass]="{
            'bg-green-600': invoice.status === 'paid',
            'bg-orange-600': invoice.status === 'pending',
            'bg-gray-600': invoice.status === 'draft'
          }"
        ></span>
        {{ invoice.status | titlecase }}
      </div>
      <button [routerLink]="['/invoice', invoice.id]" class="pl-10">
        <img
          src="/icons/Desktop - Invoices - Hover/Path 5 Copy.svg"
          alt="New Invoice Icon"
        />
      </button>
    </div>
  </div>

  <ng-template #noInvoices>
    <h2>There is nothing here</h2>
    <p>
      Create an invoice by clicking the <span>New Invoice</span> button and get
      started
    </p>
  </ng-template>
</div>
